GCP_PROJECT_ID=#Group project GCP project id
GCP_SERVICE_ACCOUNT_KEY=#Group project GCP service account key for credentials
GCP_BUCKET_NAME=#Bucket name within GCP project
DOB_APP_TOKEN_ID=#ID associated with the app token
DOB_APP_TOKEN=#App token generated in order to access the City of New York Data API
